# PHP
/vendor/
/var/
.php-cs-fixer.cache
.phpunit.result.cache
config/reference.php

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env.local

# Db init files
scripts/database/db_initialized
